html,
body {
  margin: 0;
  font-family: "Karla", sans-serif;
  background-color: #9c7afd;
  background-image: url("/images/bg.jpg");

  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
}

/*typography*/

h1,
h2,
h3 {
  text-align: center;
}

h1,
h2 {
  color: white;
  margin: 0;
}

h1 {
  font-size: 32px;
  text-shadow: 3px 3px 0px black;
}

h2 {
  font-size: 17px;
  text-shadow: 2px 2px 0px black;
}

h3 {
  margin: 25px;
}

/* layout */

header {
  background-color: coral;
  border-bottom: 6px solid black;
}

.header-inner {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 370px;
  gap: 15px;
  padding: 10px 0 0 0;
}

.pumpkin-img {
  width: 80px;
}

.controls-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0px auto;
}

/* controls */

.emotion-radios {
  display: flex;
  flex-direction: column;

  border: 3px solid black;
  box-shadow: 4px 4px 0px black;
  background: yellow;
  border-radius: 10px;
}

.radio {
  display: flex;
  align-items: center;
  border-bottom: 3px solid black;
  padding: 4px 8px;
}
.radio:hover {
  background: rgb(221, 221, 4);
}

label {
  font-size: 14px;
  padding: 3px;
  width: 100%;
  cursor: pointer;
}

.highlight {
  background-color: #fff4c5;
  color: #bd301d;
  font-weight: bold;
  accent-color: #bd301d;
}

.radio:last-child {
  border-bottom: 0;
}

input[type="radio"] {
  cursor: pointer;
}

.gifs-check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
}

.gifs-check-label {
  width: unset;
  margin-right: 5px;
}

.get-image-btn {
  background-color: #7bf5b0;
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0px black;
  border: 3px solid black;
  box-shadow: 4px 4px 0px black;
  border-radius: 10px;
  padding: 20px;
  top: 80px;
  transform: rotate(10deg);
}
.get-image-btn:hover {
  background-color: #6dde9e;
  padding: 22px;
}

/* modal */

.meme-modal {
  display: none; /*flex when displayed*/
  position: fixed;
  margin: auto;
  top: 80px;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  border-radius: 5px;
  width: 420px;
  height: 490px;
  background-color: #f4cffb;
  box-shadow: 4px 4px 0px black;
}

.cat-img {
  max-width: 340px;
  max-height: 420px;
  border-radius: 5px;
}

.meme-modal-close-btn {
  position: absolute;
  top: 2%;
  right: 2%;
  background-color: white;
  border: 3px solid black;
  color: black;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 14px;
}

.meme-modal-close-btn:hover {
  color: white;
  background-color: #bd301d;
  border: 2px solid #bd301d;
}
@media (max-width: 375px) {
  .meme-modal {
    width: 360px;
    height: 390px;
    top: 20%;
  }
}
